*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

/*Navigation*/

.nav-bar{
 min-height: 3.5em;   
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 background-color: #282828;
 box-shadow: inset 12px;
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 z-index: 100;
 text-align: center;
 line-height: 3.5em;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content:flex-end;
    margin: 0 15px;
    height: 100%;
}

.nav-logo {
    color: #FFFFFF;
    display: block;
    margin-left: 15px;
    text-align: start;
    transition: background-color 0.2s ease-in;
}

.nav-bar a:hover{
    background-color: #383838;
    columns: #fff;
    border-radius: 10px;
}

.navigation-item a{
    color: #FFFFFF;
    padding: 0 10px;
    display: block;
}

.navigation-item :hover{
    background-color: #383838;
    color:#fff;

}

/* Spinner */
 
.loader {
  width: 148px;
  height: 148px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  top:25vh;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 